In [11]:
from splinter import Browser
import pandas as pd
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [12]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 86.0.4240
[WDM] - Get LATEST driver version for 86.0.4240
[WDM] - Driver [C:\Users\Bryan\.wdm\drivers\chromedriver\win32\86.0.4240.22\chromedriver.exe] found in cache

### NASA Mars News ###

In [3]:
mars_news_url = 'https://mars.nasa.gov/news/'
browser.visit(mars_news_url)

html= browser.html
soup = BeautifulSoup(html,'html.parser')

news_title = soup.find('div', class_='content_title').string

In [6]:
mars_news_url = 'https://mars.nasa.gov/news/'
browser.visit(mars_news_url)

html= browser.html
soup = BeautifulSoup(html,'html.parser')

news_title = soup.find('div', class_='content_title').string

news_p= soup.find('div', class_='article_teaser_body').string
print(news_title)
print(news_p)

Mars Now
NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel.

#### JPL Images ####

In [7]:
featured_image_url='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(featured_image_url)
image = browser.html

In [17]:
soup = BeautifulSoup(image, 'html.parser')
image_website= soup.find('img',class_='InSight')
image_website

#### Mars Facts ####

In [28]:
mars_facts_url="https://space-facts.com/mars/"
browser.visit(mars_facts_url)
html= browser.html
soup = BeautifulSoup(html, "html.parser")

In [32]:
mars_facts = pd.read_html(mars_facts_url)[0]
mars_facts.columns = ["Description","Value"]
mars_facts

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers